// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

section {
    padding: 100px 0;
    h2 {
        font-size: 50px;
    }
    h2.section-heading {
        font-size: 45px;
        font-weight: 800;
        color: $theme-primary;
        span {
            border-bottom: 10px solid;
        }

        @media (max-width: 992px) {
            font-size: 25px;
        }
    }
}

.border-gray-light {
    border-color: fade-out($gray-dark, 0.5) !important;
}

.border-right-1 {
    border-right: 1px solid;
}

.border-left-1 {
    border-left: 1px solid;
}

.border-top-1 {
    border-top: 1px solid;
}

.border-bottom-1 {
    border-bottom: 1px solid;
}

section.support {
    >.container {
        .support-large-icon {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
}
